@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 0.15rem;
  background-color: #f59948;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

.skills-text-left {
  animation: move 30s linear infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skills-text-right {
  animation: move-right 30s linear infinite;
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}
