@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  height: 10px;
  width: 10%;
  background-color: rgb(113, 114, 117);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #db262e;
}
::-webkit-scrollbar-track {
  background-color: #303134;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 0.05rem;
  background-color: #f59948;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  transition: 0.3s;
}
.nav-link:hover::after {
  width: 100%;
}

.skill-item {
  position: relative;
}

.skill-item::before,
.skill-item::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8c8c8d;
  z-index: 11;
}

.skill-item::before {
  width: 100%;
  opacity: 0.5;
}

.skill-item::after {
  background-color: red;
  width: 0%;
  transition: 0.5s;
}

.skill-item:hover::after {
  width: 100%;
}
