@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-item {
  position: relative;
}

.skill-item::before,
.skill-item::after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #8c8c8d;
  z-index: 11;
}

.skill-item::before {
  width: 100%;
  opacity: 0.5;
}

.skill-item::after {
  background-color: red;
  width: 0%;
  transition: 0.5s;
}

.skill-item:hover::after {
  width: 100%;
}

.skill-number {
  font-size: 5rem;
}

.skill-name {
  font-size: 2rem;
}
